div {
    display: flex;
    margin: 2.5rem;

    img {
        border: 1px solid black;
    }

    div {
        position: relative;
        bottom: 2.5rem;
        display:block;
        background-color: rgb(105, 105, 105);
        border: 1px solid black;
        color: white;
        width: 20%;
        height:fit-content;
        padding: 0.5rem;

        p {
            width: 80%;
        }
    }
}

.productCart {
    
}